<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PublicAPIKey</key>
    <string>f23c5f7943fdf710b1c2bbdeaf1f5cf3</string>
    <key>PrivateAPIKey</key>
    <string>2bbd6b15d68841247f2753e37a6ac28199e9a6f4</string>
</dict>
</plist>
